.header-navigation{
    margin: auto;
    width: 80vw;
    ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        a {
            color:white;
            text-decoration: none;
        }
    }
    span{
        border-radius: 50%;
        background-color: black;
        color: white;
        font-size: 70px;
    }
}